body{
    display: grid;
    justify-content: center;
    background-image: linear-gradient(to right, #C3CED4 0%, 19.682539999485016%, #E7E8EA 39.36507999897003%, 69.68253999948502%, #555453 100%);
    font-family: Arial, Helvetica, sans-serif;
}
#nome{
     border-radius: 4px;
     padding: 5px;
}
#email{
       border-radius: 4px;
        padding: 5px;
}
#data{
       border-radius: 4px;
       padding: 5px;
}
#telefone{
       border-radius: 4px;
       padding: 5px;
}
button{
     background-color: blue; color: white; padding: 8px 16px; border: none; border-radius: 5px;
}
p{
     border: 2px solid red; padding: 10px;
}
h1{
     font-size: 40px;
}