.carousel-img {
    width: 100%;
    height: 600px;   /* você pode ajustar este valor */
    object-fit: cover; /* deixa a imagem linda */
    border-radius: 4px; /* opcional */
    object-position: center 80%;
}
.container-fluid {
  padding-left: 0;
  padding-right: 0;
}
/*essa margem sobrando à esquerda porque o Bootstrap coloca padding lateral padrão em todo .container-fluid.*/
.sem-padding {
  padding-left: 0 !important;
  padding-right: 0 !important;
}
/* RESET */
* {
  margin: 0;
  padding: 0;
  box-sizing: border-box;
}

/* HEADER */
.header {
  width: 100%;
  background: #111;
  position: fixed;
  top: 0;
  z-index: 1000;
}

.nav {
  display: flex;
  justify-content: space-between;
  align-items: center;
  height: 70px;
}

.logo {
  color: #fff;
  font-size: 1.5rem;
  text-decoration: none;
  font-weight: bold;
}

/* MENU DESKTOP */
.menu {
  display: flex;
  gap: 25px;
  list-style: none;
}

.menu li a {
  color: #fff;
  text-decoration: none;
  font-size: 1rem;
  transition: .3s;
}

.menu li a:hover {
  color: #c79c60;
}

/* BOTÃO MOBILE */
#btn-mobile {
  display: none;
  cursor: pointer;
  background: none;
  border: none;
}

#hamburger {
  width: 30px;
  height: 3px;
  background: #fff;
  display: block;
  position: relative;
}

#hamburger::before,
#hamburger::after {
  content: "";
  width: 30px;
  height: 3px;
  background: #fff;
  position: absolute;
  transition: .3s;
}

#hamburger::before {
  top: -8px;
}

#hamburger::after {
  top: 8px;
}

/* MOBILE */
@media (max-width: 768px) {
  #btn-mobile {
    display: block;
  }

  .menu {
    display: block;
    width: 100%;
    position: absolute;
    top: 70px;
    right: 0;
    background: #111;
    height: 0;
    overflow: hidden;
    transition: .3s;
  }

  .menu.active {
    height: 200px;
    padding: 15px;
  }

  .menu li {
    margin-bottom: 15px;
  }

  #hamburger.active {
    background: transparent;
  }

  #hamburger.active::before {
    transform: rotate(45deg);
    top: 0;
  }

  #hamburger.active::after {
    transform: rotate(-45deg);
    top: 0;
  }
}

/* TEXTO LADO DO CARROSSEL */
.texto-banner {
  padding: 30px;
}

.btn-saiba {
  margin-top: 20px;
  display: inline-block;
  padding: 10px 25px;
  background: #c79c60;
  color: #fff;
  font-weight: bold;
  border-radius: 5px;
  text-decoration: none;
  transition: .3s;
}

.btn-saiba:hover {
  background: #a67e44;
}
